<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <h3>Manager Navigation</h3>
    <p>
        <a class="nav-item nav-link" routerLink="manager-employee-list">Employee List</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="manager-employee-specific">Specific Employee Reimbursements</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="manager-resolved">Resolved Reimbursements</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="manager-pending">Pending Reimbursements</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="manager-logout">Logout</a>
    </p>
</nav>