<h5>View Specific Employee Info</h5>
<form>
    <select [(ngModel)]="selectedEmployee" name="selected">
        <option *ngFor="let employee of employees" value={{employee}}>{{employee}}</option>
    </select>
    <button class="btn btn-info" (click)="employeeSelect()">Get Reimbursements</button>
</form>
<div>
    <h3 class="text-center">Pending reimbursements</h3>
    <app-reimbursement-table [reimbursements]="pendingReimbursements"></app-reimbursement-table>
</div>
<div>
    <h3 class="text-center">Resolved reimbursements</h3>
    <app-reimbursement-table [reimbursements]="resolvedReimbursements"></app-reimbursement-table>
</div>