<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <h3>Employee Navigation</h3>
    <p>
        <a class="nav-item nav-link" routerLink="employee-info">Info</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="employee-pending">Pending Reimbursements</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="employee-resolved">Resolved Reimbursements</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="employee-submit">Submit a Reimbursement</a>
    </p>
    <p>
        <a class="nav-item nav-link" routerLink="employee-logout">Logout</a>
    </p>
</nav>